{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-12">
    <div class="card white-bg detail-card">
      <div class="card-body">
        <h5 class="card-title">{{ event.event_name }}</h5>
        <p class="card-text">Finished: {{ event.event_finished}}</p>
        <a href="{% url 'event_list_view' %}" class="btn btn-primary">View All</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-12 detail-table">
    <table class="table white-bg">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Finish Time</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for e in all_events %}
        <tr>
          <td>{{ e.event_name}}</td>
          <td>{{ e.event_finished}}</td>
          <td><a href="{{ e.get_absolute_url}}">View</a></td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><a href="{% url 'event_list_view' %}">View All</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
